<div class="container">
    <div class="headerUser">
      <ion-img src="./../../../assets/icon/Planeta verde.png"></ion-img>
      <div class="headerSaludo">
        <h2>Hola, Alex</h2>
        <div class="img">
          <ion-img src="./../../../assets/icon/74764016.png"></ion-img>
        </div>
      </div>
    </div>
  
    <!-- Grid de dos columnas y cuatro filas -->
    <div class="grid-container">
      <div class="grid-item"><p>Historial</p></div>
      <div class="grid-item"><p>Volver a comprar</p></div>
      <div class="grid-item"><p>Cambiar contraseña</p></div>
      <div class="grid-item"><p>Cambiar avatar</p></div>
      <div class="grid-item"><p>Direcciones</p></div>
      <div class="grid-item"><p>Privacidad</p></div>
    </div>

    <div class="exit">
      <ion-button class="custom-button" color="danger" expand="block">Cerrar sesión</ion-button>

        <ion-button class="custom-button" color="danger" expand="block">Eliminar cuenta</ion-button>
    </div>
  </div>
  