

  <div class="food-card" [ngClass]="item">

    <ion-img [src]="item.image"></ion-img>
   
     <div class="card-content">
   
       <h5 class="title">{{item.title}}</h5>
       <h5 class="precio">{{item.price}}<span>€</span></h5>
       <h5 class="desc">{{item.description}}</h5>
       <div class="iconos-flex-row">
        <ion-icon name="add"></ion-icon>
        
        <i class="bi bi-airplane-fill"></i>
        <i class="bi bi-phone"></i>
        <button type="button" class="btn btn-primary"><i class="bi bi-cart-plus"></i></button>
       </div>
     </div>
   </div>





