<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="products">
      <ion-icon name="radio"></ion-icon>
      Productos
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      Cesta
    </ion-tab-button>
    <ion-tab-button tab="user">
      <ion-icon name="person"></ion-icon>
      Mi cuenta
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>