
/////////////////////////////////// MENÚ LATERAL

//HEADER DEL MENU LATERAL

.logoMenu{


    


}

//CONTENIDO MENU LATERAL


.listaCategoriasMenu{

    border: 2px solid black;

    ion-item{
        ion-label{
            margin-left: 10px;
        }
    }
}

////////////////////////HOME.HTML//////////////////////////


//HEADER DEL HOME.HTML//



.headerContent{

    ion-toolbar{
        
        ion-icon{
  
            margin-right: 0px;
        }



        .textoHeader{     

            margin-top: 0.7rem;
            margin-left: 1rem;
            
        }
    }

}

//CONTENIDO

.banner{

    swiper-container{

        

        swiper-slide{ 

            
           
        
            ion-img{

                

             
            }
        }

    }
     
}

.list-title{

    font-weight: 700;
    color: #515151;
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
    margin-top: 1.5rem;
    
}













