.wrapper{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    
    
    
    
    

    .image-card{

        margin-right: 15px;
        padding: 0.8rem;
        background-color: #f3f3f3;
        border-radius: 1.5rem;
        margin-bottom: 0.5rem;
        padding: 0.8rem;
        

        ion-img{

            opacity: 0.8rem;
        }
        
    }



    

    p{
        color: #c7c7c7;
        margin-right: 15px;
        
    }


}

.wrapper.active{

    .image-card{

        background-color: #00a48d;
        
       
    }

    p{
        color: #1d1d1d;
        font-weight: 600;
    }


}



    
